{% load static %}
<!-- footer section start -->
<div class="footer_section layout_padding margin_top_90">
  <div class="container">
    <div class="footer_logo">
      <a href="{% url 'index' %}"><img src="{% static 'blog/images/footer-logo.png' %}" /></a>
    </div>
    <div class="footer_menu">
      <ul>
        <li>
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'about' %}">About</a>
        </li>
        <li>
          <a href="{% url 'blog' %}">Blog</a>
        </li>
        <li>
          <a href="{% url 'features' %}">Features</a>
        </li>
        <li>
          <a href="{% url 'contact' %}">contact us</a>
        </li>
      </ul>
    </div>
    <div class="contact_menu">
      <ul>
        <li>
          <a href="#"><img src="{% static 'blog/images/call-icon.png' %}" /></a>
        </li>
        <li>
          <a href="#">Call : +01 1234567890</a>
        </li>
        <li>
          <a href="{% url 'blog' %}"><img src="{% static 'blog/images/mail-icon.png' %}" /></a>
        </li>
        <li>
          <a href="{% url 'features' %}">demo@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
  <div class="container">
    <p class="copyright_text">
      Copyright 2020 All Right Reserved By.<a href="https://html.design">Free html Templates</a>
    </p>
  </div>
</div>
