{% extends 'base.html' %}

{% block extera_css %}
  <style>
    form input,
    form textarea {
      background-color: blueviolet;
    }
    
    form {
      display: flex;
      flex-direction: column;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="header_section">
    {% include '_top_navbar.html' %}
  </div>
  <!-- contact section start -->
  <div class="contact_section layout_padding">
    {% include '_messages.html' %}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">1</li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">2</li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">3</li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">4</li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="contact_img"></div>
              </div>
              <div class="carousel-item">
                <div class="contact_img"></div>
              </div>
              <div class="carousel-item">
                <div class="contact_img"></div>
              </div>
              <div class="carousel-item">
                <div class="contact_img"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mail_section">
            <form action="{% url 'login' %}" method="post">
              <h1 class="contact_taital">login</h1>
              {% csrf_token %}
              {% comment %} <input type="" class="email_text" placeholder="Name" name="name" />
              <input type="" class="email_text" placeholder="Phone" name="phone" />
              <input type="" class="email_text" placeholder="Email" name="email" />
              <textarea class="massage_text" placeholder="Message" rows="5" id="comment" name="message"></textarea> {% endcomment %}

              {% comment %} {% for field in form %}
                {{ field.label }}
                {{ field }}
              {% endfor %} {% endcomment %}login page<div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username" name="username" />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" />
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>

              <div class="send_bt">
                <button type="submit">send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include '_footer.html' %}
{% endblock %}
