{% load static %}
<div class="row">
  <div class="col-lg-8 col-sm-12">
    <div class="about_img">
      <img src="{% static 'blog/images/img-8.png' %}" />
    </div>
    <div class="like_icon">
      <img src="{% static 'blog/images/like-icon.png' %}" />
    </div>
    <p class="post_text">{{ post.create_at }}</p>
    <h2 class="most_text">{{ post.title }}</h2>
    <p class="lorem_text">{{ post.body }}</p>
    <div class="social_icon_main">
      <div class="social_icon">
        <ul>
          <li>
            <a href="#"><img src="{% static 'blog/images/fb-icon.png' %}" /></a>
          </li>
          <li>
            <a href="#"><img src="{% static 'blog/images/twitter-icon.png' %}" /></a>
          </li>
          <li>
            <a href="#"><img src="{% static 'blog/images/instagram-icon.png' %}" /></a>
          </li>
        </ul>
      </div>
      <div class="read_bt">
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12">
    <div class="about_main">
      <h1 class="follow_text">CONNECT & FOLLOW</h1>
      <div class="follow_icon">
        <ul>
          <li>
            <a href="#"><img src="{% static 'blog/images/fb-icon-1.png' %}" /></a>
          </li>
          <li>
            <a href="#"><img src="{% static 'blog/images/twitter-icon-1.png' %}" /></a>
          </li>
          <li>
            <a href="#"><img src="{% static 'blog/images/linkedin-icon-1.png' %}" /></a>
          </li>
          <li>
            <a href="#"><img src="{% static 'blog/images/instagram-icon-1.png' %}" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
