{% extends 'base.html' %}
{% block content %}
  <!-- header section start -->
  <div class="header_section">
    {% include '_top_navbar.html' %}
  </div>
  <!-- blog section start -->
  <div class="about_section layout_padding">
    <div class="container">
      {% for post in posts %}
      {% comment %} {{post}} {% endcomment %}
        {% include 'blog/_post.html' with post=post %}
      {% endfor %}
    </div>
  </div>
  <!-- blog section end -->
  {% include '_footer.html' %}
{% endblock %}
