{% extends 'base.html' %}
{% block content %}
  <div class="header_section">
    <div class="container-fluid header_main">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="logo" href="index.html"><img src="images/logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="features.html">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="images/serach-icon.png" /></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- contact section start -->
  <div class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">1</li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">2</li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">3</li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">4</li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="contact_img"></div>
              </div>
              <div class="carousel-item">
                <div class="contact_img"></div>
              </div>
              <div class="carousel-item">
                <div class="contact_img"></div>
              </div>
              <div class="carousel-item">
                <div class="contact_img"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mail_section">
            <h1 class="contact_taital">Contact us</h1>
            <input type="" class="email_text" placeholder="Name" name="Name" />
            <input type="" class="email_text" placeholder="Phone" name="Phone" />
            <input type="" class="email_text" placeholder="Email" name="Email" />
            <textarea class="massage_text" placeholder="Message" rows="5" id="comment" name="Message"></textarea>
            <div class="send_bt">
              <a href="#">send</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- contact section end -->
  <!-- footer section start -->
  <div class="footer_section layout_padding">
    <div class="container">
      <div class="footer_logo">
        <a href="index.html"><img src="images/footer-logo.png" /></a>
      </div>
      <div class="footer_menu">
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="blog.html">Blog</a>
          </li>
          <li>
            <a href="features.html">Features</a>
          </li>
          <li>
            <a href="contact.html">contact us</a>
          </li>
        </ul>
      </div>
      <div class="contact_menu">
        <ul>
          <li>
            <a href="#"><img src="images/call-icon.png" /></a>
          </li>
          <li>
            <a href="#">Call : +01 1234567890</a>
          </li>
          <li>
            <a href="blog.html"><img src="images/mail-icon.png" /></a>
          </li>
          <li>
            <a href="features.html">demo@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- footer section end -->
  <!-- copyright section start -->
  <div class="copyright_section">
    <div class="container">
      <p class="copyright_text">
        Copyright 2020 All Right Reserved By.<a href="https://html.design">Free html Templates</a>
      </p>
    </div>
  </div>
{% endblock %}
